[run]
parallel = True
concurrency = multiprocessing
branch = True
include =
    ka_be_basket/api/*
    ka_be_basket/apps/*
    ka_be_basket/clients/*
    ka_be_basket/drf/*
    ka_be_basket/event_handlers/*
    ka_be_basket/libs/*
    ka_be_basket/services/*
    ka_be_basket/tasks/*
    ka_be_basket/utils/*
omit =
    */__init__.py
    */fixtures/*
    */migrations/*
    */models.py
    */config.py
